.maintext{
    text-align: center;
    font-size: 100px;
}

body{
    background-color: rgb(230, 228, 235);
}

.btrandom{
    display: inline-block;
    padding: 1.1em 2.1em;

    background: rgb(216, 94, 94);
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 2.5em;

    font-size: 30px;
    line-height: 1.1;
    font-weight: 500;
    color: white;
}