body {
	background: 
	url("../images/bg.jpg") center no-repeat;

	color: #fff;
	font-family: sans-serif;
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	margin-top: 80px;
	font-size: 50px;
}

p {
	text-align: center;
	font-size: 25px;
	display: block;
	margin: 0 auto;
	width: 80%;
	margin-bottom: 30px;
}

.link {
	padding: 0;
	margin-bottom: 10px;
}

.link__btn {
	cursor: pointer;
}

.btn {
	cursor: pointer;
	width: 9%;
	height: 30px;
	margin-right: 5px;
	text-align: center;
	font-size: 18px;
}